.root-card-list {
    float: left;
    margin-top: 10px;
}

.card-host {
  position: relative;
  display: flex;
  background: transparent;
  margin-top: 1px;
  margin-bottom: 1px;
}

.card-host-dragged-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  opacity: 0.9;
  pointer-events: none;
}

.card-element {
    border: none;
    margin: 15px 5px;
    width: 100%;
    padding: 5px;
}



.sub-cards-list-element {
    margin: 0px;
}

.sub-cards-list {
    list-style: none;
}

/* drag'n'drop card grabber */


.card-grabber {
  background: transparent;
  position: relative;
  
}

.card-grabber:hover {
  background: pink;
}

.grabber {
  z-index: 1100;  
  background: white;
  position: relative;
      margin: 0px 5px;
  height: 10px;
  top: 19px;
  cursor: pointer;
}

.grabber-sign {
  top: -4px;
  position: relative;
}

.card-grabber:after {
    content:"";
    position: absolute;
    z-index: 1000;
    top: 10;
    bottom: 10;
    left: 50%;
    border-left: 1px dashed #aaf;
}

.empty-card-grabber {
  background: transparent;
  position: relative;
  width: 20px;
}

.empty-card-grabber:after {
    content:"";
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px dashed #ccc;
}

/* inter card space */

.inter-card-space {
  display: flex;
  background: transparent;
  height: 2px;
}

.plus-container {
  z-index: 9100;
  position: relative;
  top: -14px;  
  height: 28px;
  cursor: pointer;
}

.plus-container:hover {
  background: red;
}

.plus-sign {
  background: transparent;
  font-size: 20px;
  height: 17px;
  margin: 3px 4px 4px 4px;
}

.card-seperator-container {
 width:100%;
 position: relative;
 top: 0px;
}

.card-seperator {
   background: transparent; 
   border-bottom: 1px dashed #ccf;
   height: 2px;
}